.container{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 60px auto;
}

.mobileTitle{
    display: none;
}

.image{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.image img{
    width: 100%;
}

.circles{
    padding-top: 50px;
}

.circles span{
    padding:0px 5px;
}

.zoom{
    
    display: flex;
    align-items: center;
    border: 1px solid rgb(244, 240, 235);
    background-color: rgb(244, 240, 235);
    padding: 0 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: bold;
    margin-left: auto;
    margin-top: 100px;
}

.zoom span{
    padding-left: 15px;
    padding-top: 5px;
}

.text{
    margin-left: 40px;
}

.title{
    border-bottom: 1px solid silver;
    text-align: left;
    padding: 20px 0;
}

.title h2{
    font-size: 36px;
    font-weight: bold;
}

.title p{
    font-size: 14px;
    line-height: 3rem;
    color: gray;
}

.colors{
    border-bottom: 1px solid silver;
    text-align: left;
    padding: 20px 0;
    text-align: left;
}

.colors h1{
    margin-bottom: 15px;
}

.colors img{
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
    flex-wrap: wrap;
    margin: 10px 20px 10px 0;
}

.mobileColors{
    display: none;
}
.colors p{
    font-size: 13px;
}

.colors p span{
    font-weight: bolder;
}

.payment{
    padding: 20px 0;
    text-align: right;
    margin: 10px 0 20px;
}

.price{
    font-size: 30px;
    font-weight: bolder;
}

.zip{
    display: flex;
    justify-content: end;
    align-items: center;
}

.zip img{
    width: 50px;
}
.zip p{
    font-size: 14px;
}
.payment span{
    font-weight: bolder;
    padding-right: 5px;
}

.buttons{
    display: flex;
    flex-direction: column; 
}

.buttons :first-child{
    margin-bottom: 15px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    box-shadow: 0 5px 5px #888888;
}

.buttons :last-child{
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 0;
    box-shadow: 0 5px 5px #888888;
    border: 1px solid #777777;
}


/* MQ */


@media (max-width: 900px) {
    .container{
        flex-direction: column;
        width: 98%;
    }

    .title h2{
        font-size: 26px;
    }

    .buttons{
        margin: 0 30px;
    }

    .payment{
        border-bottom: 1px solid silver;
    }

    .container{
        margin-right: 10px;
        margin-top: 20px;
    }

    .text{
        margin-left: 10px;
    }

    .title{display: none;}

    .price{
        font-size: 25px;
        font-weight: bolder;
    }

    .image{
        width: 90%;
        padding-bottom: 50px;
    }

    .mobileTitle{
        display: flex;
        flex-direction: column;
        margin: 0 100px;
    }

    .mobileTitle h1{
        font-size: 22px;
        padding-bottom: 10px;
        border-bottom: 1px solid #333333;
    }

    .mobileTitle h2{
        font-size: 22px;
        padding-top: 10px;
    }

    .mobileTitle p{
        font-size: 12px;
        padding-bottom: 40px;
    }

    .colors h1{
        display: none;
    }

    .mobileColors{
        display: flex;
    }

    .deskColors{
        display: none;
    }

    .zoom{
        display: flex;
        align-items: center;
        right: 6%;
        border: 1px solid gray;
        padding: 0 5px;
        font-weight: bold;
        font-size: 12px;
        box-shadow: 2px 2px 4px rgb(189, 189, 189);
    }
    
    .zoom span{
        padding-left: 10px;
        padding-top: 4px;
    }

    .image img{
        padding-bottom: 20px;
    }
}


@media (max-width: 600px) {
    .zoom{
        top: 400px;
    }
}
